.title-subtitle__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin: 16px 16px 0;
}

@media screen and (min-width: 400px) {
    .title-subtitle__subtitle {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (min-width: 520px) {
    .title-subtitle__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 620px) {
    .title-subtitle__subtitle {
        margin: 29px auto 0;
        width: 360px;
        height: 66px;
    }
}