.intro__list {
    margin: 34px 16px 0;
}

@media screen and (min-width: 420px) {
    .intro__list {
        margin: 34px auto 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        margin: 34px auto 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .intro__list {
        margin: 34px auto 0 148px;
    }
}