.places-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, minmax(min-content, max-content));
    row-gap: 32px;
    grid-auto-flow: row;
}

@media screen and (min-width: 750px) {
    .places-item {
        grid-template-columns: 44vw 1fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        gap: 48px 28px;
    }
}

@media screen and (min-width: 1024px) {
    .places-item {
        grid-template-columns: 43vw 1fr;
        gap: 48px 32px;
    }
}