.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22 / 18;
    text-align: center;
    color: #fff;
    margin: 0;
    /* position: absolute; */
    /* bottom: 30vh; */
    /* left: 32.5vw; */
    margin-left: auto;
    margin-right: auto;
    /* left: 0;
    right: 0; */
    margin-top: 2em;
    z-index: 2;
}