.footer-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.footer-menu__link:hover {
    opacity: 0.75;
}

@media screen and (max-width: 425px) {
    .footer-menu {
        flex-direction: column;
    }
    
}