.lang-menu__lang-link {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: #fff;
    margin-left: 18px;
    position: relative;
    bottom: 5px;
    text-decoration: none;

}

@media screen and (max-width: 425px) {
    .lang-menu__lang-link {
        font-size: 18px;
        line-height: calc(20 / 18);
    }
    
}