.lead__title {
    /* padding: 48px 0 0; */
    font-family: Inter, serif, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    box-sizing:border-box;
    margin: 48px auto 0;
}

@media screen and (min-width: 420px) {
    .lead__title {
        font-size: 55px;
        line-height: 60px;
    }
}

@media screen and (min-width: 679px) {
    .lead__title {
        font-size: 70px;
        line-height: 78px;
    }
}

@media screen and (min-width: 720px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        width: 720px;
        height: 200px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        margin: 56px auto 0;
    }
}