.place__paragraph {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29.34px;
color: #FFFFFF;
margin-bottom: 25px;
}

.place__paragraph:first-of-type {
    margin-top: 0;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 850px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
        order: 4;
        /* word-break:; */
        /* font-weight: 400; */
    }
}