.website {
    justify-self: start;
    align-self: end;
}

@media screen and (max-width: 425px) {
    .website {
        /* grid-row: 2; */
        order: -1;
        align-self: start;
        
    }

}