.website__url-heading {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 170%;
letter-spacing: 2px;
color: #aaa;


}

@media screen and (max-width:850px) {
    .website__url-heading {
        margin: 0;
    }
}