.website__url-heading {
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 170%;
letter-spacing: 2px;
color: #aaa;
margin: 0;
margin-bottom: 6px;


}

@media screen and (max-width:850px) {
    .website__url-heading {
        margin-bottom: 5px;
    }
}