.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin: 16px auto 0;
}

@media screen and (min-width: 420px) {
    .lead__subtitle {
        font-size: 22px;
        line-height: 26px;
    }
}

@media screen and (min-width: 720px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        width: 640px;
        margin: 32px auto 0;
    }
}