.places-item__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin: 0 16px 25px;
}

.places-item__paragraph:last-of-type {
    margin: 0 16px 0;
    white-space: pre-line;
}

@media screen and (min-width: 420px) {
    .places-item__paragraph {
        margin: 0 0 25px;
    }
    .places-item__paragraph:last-of-type {
        margin: 0;
        white-space:normal;
    
    }
}

@media screen and (min-width: 1024px) {
    .places-item__paragraph {
        font-size: 18px;
        line-height: 29px;
    }
}