/* .place__title_font_m {
    font-size: 42px;
    line-height: 46px;
    } */
    
@media screen and (max-width: 770px) {
    .place__title_font_m {
        font-size: 44px;
        line-height: 46px;
    }
}

@media screen and (max-width: 746px) {
    .place__title_font_m {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        font-size: 32px;
        line-height: calc(35 / 32);
    }

}