.lang-menu__lang {
    color: #fff;
    text-decoration: none;
    margin-left: 18px;
    font-size: 18px;
    line-height: calc(20 / 18);
    font-family:  Inter, serif,  sans-serif;
    font-style: normal;
    font-weight: normal;
}