.lang-menu__lang {
    color: #fff;
    text-decoration: none;
    margin-left: 18px;
    font-size: 18px;
    line-height: calc(20 / 18);
    font-style: normal;
    font-weight: normal;
}

@media screen and (min-width: 420px) {
    .lang-menu__lang {
        font-size: 24px;
        line-height: 28px;
    }
}