.lead__caption {
    font-family: Inter, serif, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    margin: 8px auto 0 16px;
}

@media screen and (min-width: 420px) {
    .lead__caption {
        margin: 8px auto 0 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin: 8px auto 0 48px;
    }
}