.title-subtitle {
    width: 100%;
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 15vw;
    left: 0;
}

 @media screen and (min-width: 1024px) {
    .title-subtitle {
        top: 18vw;
    }
}
